.list-todo-container {
  button {
    cursor: pointer;
  }

  .add-todo {

    .add {
      margin: 0 10px;
    }
  }

  .list-todo-content {
    width: 400px;
    margin: 0 auto;

    .todo-child {
      &:first-child {
        border-top: 1px solid grey;
      }


      height: 40px;
      border-bottom: 1px solid grey;
      margin: 10px;

      .edit {
        margin: 0 10px;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }

  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }

  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }

  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
}